.pic-list {
  text-align: center;
}

.list-wrapper {
  background-color: rgba(0, 0, 0, 0.85);
}

.img-item {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 12.5%;
  position: relative;
}

@media screen and (max-width: 900px) {
  .img-item {
    width: 25%;
  }
}

@media screen and (max-width: 1200px) {
  .img-item {
    width: 50%;
  }
}

.img-item p {
  color: antiquewhite;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.3);
  height: 20px;
}

.img {
  width: 100%;
}

.lazyload-placeholder {
  display: inline-block;
}

.paginationBtn {
  background-color: #5dc5e4;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 15px;
  text-decoration: none;
}

.paginationBtn:active {
  position: relative;
  top: 1px;
}

.paginationBtn {
  font-family: "Pangolin", cursive;
}

.pageNo {
  width: 40px;
  height: 19px;
  line-height: 19px;
  font-size: 15px;
  padding: 6px 15px;
  border-radius: 4px;
  background: #5dc5e4;
  border: none;
  color: #fff;
  vertical-align: middle;
}
